<div class="boder_menu">
    <div id="menu">
        <ul>

            <li>
                <a class="TopMenuItem" href="javascript:;">
                    <span class="MenuText"><i class="icon-cogs"></i>Quản lý</span>
                </a>
                <ul>
                    <li class="SubFirst">
                        <a href="../../Admins/ConfigEditot/">
                            <span class="SubMenuText">Cấu hình chung
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../Menu/MenuIndex/">
                            <span class="SubMenuText">Danh mục Menu
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../Advertise/AdvertiseIndex/">
                            <span class="SubMenuText">Danh mục Banner
                            </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a class="TopMenuItem" href="javascript:;">
                    <span class="MenuText"><i class="icon-th-large"></i>Quản lý chung</span>
                </a>
                <ul>
                    <li class="SubFirst">
                        <a href="../../Member/MemberIndex/">
                            <span class="SubMenuText">Quản lý thành viên
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../Province/ProvinceIndex/">
                            <span class="SubMenuText">Quản lý tỉnh thành
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="TopMenuItem" href="javascript:;">
                    <span class="MenuText"><i class="icon-globe"></i>Tin tức</span>
                </a>
                <ul>
                    <li class="SubFirst">
                        <a href="../../GroupNew/GroupNewIndexot/">
                            <span class="SubMenuText">Quản lý nhóm tin 
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../News/NewsIndexot">
                            <span class="SubMenuText">Quản lý tin 
                            </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a class="TopMenuItem" href="javascript:;">
                    <span class="MenuText"><i class="icon-globe"></i>Ảnh</span>
                </a>
                <ul>
                    <li class="SubFirst">
                        <a href="../../GroupProduct/GroupProductIndexot/">
                            <span class="SubMenuText">
                                Quản lý nhóm ảnh 1
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../GroupProduct/GroupProductIndex">
                            <span class="SubMenuText">
                                Quản lý nhóm ảnh 2
                            </span>
                        </a>
                    </li>

                    <li class="SubFirst">
                        <a href="../../Product/ProductIndexot">
                            <span class="SubMenuText">
                                Quản lý ảnh 
                            </span>
                        </a>
                    </li>

                </ul>
            </li>
@*            <li>
                <a class="TopMenuItem" href="javascript:;">
                    <span class="MenuText"><i class="icon-signin"></i>Hỗ trợ</span>
                </a>
                <ul>
                    <li class="SubFirst">
                        <a href="../../GroupSupport/GroupSupportIndex/">
                            <span class="SubMenuText">Quản lý nhóm hỗ trợ
                            </span>
                        </a>
                    </li>
                    <li class="SubFirst">
                        <a href="../../Support/SupportIndex/">
                            <span class="SubMenuText">Quản lý hỗ trợ
                            </span>
                        </a>
                    </li>
                </ul>
            </li>*@


        </ul>
    </div>
</div>
