<div class="widgetbox"><div class="widgettitle">Ban biên tập</div>
<div class="textwidget"><div style="text-align: center;">Xin gửi bài viết và thư góp ý về Ban Biên Tập 
@Html.Raw(ViewBag.config)
</div>
</div>
<div class="adv-home-right">
  @Html.Raw(ViewBag.View)
</div>